body{
    background: #1a1a1a;
    font-family: 'Noto Sans JP', sans-serif;
}
h1, h2, h3, a, p{
    color: white;
    text-decoration: none;
}
h1{
    font-weight: 700;
    font-size: 50px;
    border-bottom: 2px solid white;
}
#nav{
    display:flex;
    flex-wrap:wrap;
}
#nav-e{
    display:flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 50%;
    background-color: #e35f21;
    height: 600px;
}
#nav-title{
    width: 80%;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
}
#nav-content{
    display:flex;
    flex-wrap: wrap;
    flex-flow: column nowrap;
    width: 80%;
}
footer{
    width: 100%;
    height: 100px;
    background-color: #e35f21;
    color:white;
    text-align: center;
    line-height: 100px;
}
#nav-logo3{
    width: 50%;
    height: 600px;
    background: #1a1a1a73;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    background-image: url("img/1495.jpg");
    background-size: cover;
}
#nav-logo2{
    width: 50%;
    height: 600px;
    background: #1a1a1a73;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    background-image: url("img/b2-sld.png");
    background-size: cover;
}
#nav-logo{
    width: 50%;
    height: 600px;
    background: #1a1a1a;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
}
#nav-logo img{
    max-width: 600px;
}
#nav-bar{
    color: #fff;
    width: 100%;
    display:flex;
    justify-content: center;
}
#nav-bar a {
    margin: 40px 60px 0 0;
}
/* icons */
.square-icons {
    padding: 10px; /* espaçamento */  
    font-size: 18px; /* tamanho do icone */  
    width: 18px;  /* tamanho do fundo */  
    text-align: center;  
    text-decoration: none;  
    margin: 5px 2px; /* espaçamento entre eles */  
    color: #fff; /*cor do icone */
    background: #1a1a1a;
    border-radius:20px;
}
  .square-icons:hover { 
      opacity: 0.7;  
}

/* slide */
#slider {position: relative; z-index: 1;}
#slider a { position: absolute; top: 0; left: 0; opacity: 0;filter:alpha(opacity=0);}
.ativo {opacity: 1!important; filter:alpha(opacity=100)!important;}

figure:hover {opacity: 0.5;filter:alpha(opacity=76);}
    figure {
    max-width: 100%;
    height: 450px;
    position: relative;
    overflow: hidden;
    margin: 0px auto;
}
.container{
    display:flex;
    flex-wrap: wrap;
    justify-content: left;
    width: 40%;
}
.container img {
    width: 115px;
}
#slider div {
    height: 460px;
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    display:flex;
    flex-wrap: wrap;
}
.sld-item {
    background-image: url("img/b1-sld.png");
    width: 100%;
    height: 460px;
    display: flex;
    justify-content: center;
    align-content: center;
    
}
.sld-item img{
    max-width: 200px;
    height:120px;
}
.sld-item .spanitem{
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 220px;
}
.sld-item #barra{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-color: #1a1a1a73;
    width: 100%;
    height: 219px;
    padding-top: 50px;

}
.sld-item span:hover{
    opacity: 0.5;
}
   /* background-image: url("img/b2-sld.png"); */

#container-system{
    width: 100%;
    display: flex;
    flex-direction: column;

}
.btn{
    width: 100px;
    height: 30px;

}
h3 {
    font-size: 25px;
    margin: 0 40px;
}
.preto{
    color:#1a1a1a;
}
#formulario{
    display: flex;
    justify-content: center;
    border-radius:100px;
    line-height: 40px;
    padding:20px 0;
    margin-bottom: 10px;
}
#formulario input{
    border-radius:20px;
    border:none;
}
#add{
    margin-left:20px;
    background: #e35f21;
    color:white;
}
#rformulario{
    margin: auto;
    width: 80%; 
}
.container-table{
    background-color: #e35f21;
    color:white;
    border-radius:20px;
}
.btn-remover{
    line-height: 40px;
    border: none;
    color: white;
    background: #1a1a1a;
    border-radius: 8px;
    padding: 0px 20px;
}
#resultados{
    text-align:center;
}
@media only screen and (max-width:500px){
    #nav-e, #nav-logo{
        width: 100%;
    }
    #nav-logo{
        height: 250px;
    }
    #nav-bar a {
        margin: 40px 30px 0 0;
    }
}
